name: Deployment Pipeline

# Controls when the workflow will run
on:
  push:
    paths:
     - 'DeploymentConfiguration/*'
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  deployments:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Package Creation and Deployment 
        uses: actions/checkout@v2
      - id: setProcessLevelInfo
        run: |
            ProcessDetails=$(cat ./DeploymentConfiguration/ProcessDetails.HX_Demo.dev.json)
            echo $ProcessDetails
            listFiles=$(ls DeploymentConfiguration/)
            echo $listFiles
            
            for i in $listFiles
            do
              readFiles=$(cat ./DeploymentConfiguration/$i)
              echo $readFiles
            done
