name: tesr

on:
  
  workflow_dispatch:

jobs:
            
  getEnvironmentInfo:
   runs-on: ubuntu-latest
   
   steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Get Process Info
        uses: actions/checkout@v2
      - id: setEnvironmentLevelInfo
        run: |
              git log .github/workflows/test.yml | grep Author: | cut -d' ' -f2- | uniq | head -n5
              git log -n 1 --pretty='format:%an' -- .github/workflows/test.yml
              git rm test.txt
