name: Deployment Pipeline

on:
  push:
    paths:
     - 'DeploymentConfiguration/*'
  workflow_dispatch:

jobs:
  getEnvironmentInfo:
   runs-on: ubuntu-latest
  
   steps:
   - name: Sample Azure action
    
     run: echo ${{secrets.APIAUTHTOKEN}}
