name: Update Cross Reference Extensions

# Controls when the workflow will run
on:
  workflow_dispatch
env: 
           BOOMI_ACCOUNTID: ${{secrets.BOOMI_ACCOUNTID}}
           ASHMITA_SAWANT_API_AUTH: ${{secrets.ASHMITA_SAWANT_API_AUTH}}

jobs:
  # This workflow contains a single job called "build"
  getCrossReferenceDetails:
   outputs:
    crossReferenceId: ${{ steps.get_CR_Details.outputs.crossReferenceId }}
    environmentId: ${{ steps.get_CR_Details.outputs.environmentId }}
    crossReferenceName: ${{ steps.get_CR_Details.outputs.crossReferenceName }}
    fileHoldersName: ${{steps.get_CR_Details.outputs.fileHoldersName}}
    
   runs-on: ubuntu-latest
   steps:
     - name: Get Cross Reference Details
       uses: actions/checkout@v2
     - id: get_CR_Details
       run: |  
             read_CRConfig=$(cat ./UpdateComponentsExtensions/CrossReference.json)
             echo $read_CRConfig
             cr_toDeploy=$(echo ${read_CRConfig} | jq '.[] | .cr_toDeploy')
             echo $cr_toDeploy
             cr_CompID=$(echo ${read_CRConfig} | jq '.[] | .cr_details[].crossReferenceId')
             echo $cr_CompID
             if [[ $cr_toDeploy == "All" ]]
             then 
               readCSV=$(cat ./UpdateComponentsExtensions/CR_CSVs/*)
               echo $readCSV
             else 
               readCSV=$(cat ./UpdateComponentsExtensions/CR_CSVs/$cr_toDeploy.csv)
               echo $readCSV
             fi
