name: Update Cross Reference Extensions

# Controls when the workflow will run
on:
  workflow_dispatch
env: 
           BOOMI_ACCOUNTID: ${{secrets.BOOMI_ACCOUNTID}}
           ASHMITA_SAWANT_API_AUTH: ${{secrets.ASHMITA_SAWANT_API_AUTH}}

jobs:
  # This workflow contains a single job called "build"
  getCrossReferenceDetails:
   outputs:
    category: ${{steps.get_CR_Details.outputs.category}}
    environmentName: ${{ steps.get_CR_Details.outputs.environmentName }}
    readCSV: ${{steps.get_CR_Details.outputs.readCSV}}
    cr_toDeploy: ${{steps.get_CR_Details.outputs.cr_toDeploy}}
    
   runs-on: ubuntu-latest
   steps:
     - name: Get Cross Reference Details
       uses: actions/checkout@v2
     - id: get_CR_Details
       run: |  
             read_CRConfig=$(cat ./UpdateComponentsExtensions/CrossReference.json)
             echo $read_CRConfig
             envName=$(echo ${read_CRConfig} | jq '.[] | .cr_details[].environmentName')
             echo $envName
             echo "::set-output name=environmentName::$envName"
             
             category=$(echo ${read_CRConfig} | jq '.[] | .category')
             echo $category
             echo "::set-output name=category::$category"
             
             cr_toDeploy=$(echo ${read_CRConfig} | jq '.[] | .cr_toDeploy')
             cr_toBeDeployed=$(echo "$cr_toDeploy" | tr -d '"')
             echo $cr_toBeDeployed
             echo "::set-output name=cr_toDeploy::$cr_toBeDeployed"
             
             cr_CompID=$(echo ${read_CRConfig} | jq '.[] | .cr_details[].crossReferenceId')
             echo $cr_CompID
             
             if [[ $cr_toDeploy == "All" ]]
             then 
               readCSV=$(cat ./UpdateComponentsExtensions/CR_CSVs/*)
               echo $readCSV
             else 
               readCSV=$(cat ./UpdateComponentsExtensions/CR_CSVs/"$cr_toBeDeployed".csv)
               echo $readCSV
             fi
             echo $readCSV
             echo "::set-output name=readCSV::$readCSV"
             
             
  executeProcess:
   runs-on: ubuntu-latest
   needs: getCrossReferenceDetails
   steps:
     - name: Execute Boomi Process to Update Cross Reference Extensions
       uses: actions/checkout@v2
     - id: updateExtensions
       run: |
             environmentNames=${{needs.getCrossReferenceDetails.outputs.environmentName}}
             echo $environmentNames
             csv=${{needs.getCrossReferenceDetails.outputs.readCSV}}
             echo $csv
             category=${{needs.getCrossReferenceDetails.outputs.category}}
             echo $category
             cr_toDeploy=${{needs.getCrossReferenceDetails.outputs.cr_toDeploy}}
             echo $cr_toDeploy
             
             
           
             
             
