name: Update Cross Reference Extensions

# Controls when the workflow will run
on:
  workflow_dispatch
env: 
           BOOMI_ACCOUNTID: ${{secrets.BOOMI_ACCOUNTID}}
           ASHMITA_SAWANT_API_AUTH: ${{secrets.ASHMITA_SAWANT_API_AUTH}}

jobs:
  # This workflow contains a single job called "build"
  getCrossReferenceDetails:
   outputs:
    crossReferenceId: ${{ steps.get_CR_Details.outputs.crossReferenceId }}
    environmentName: ${{ steps.get_CR_Details.outputs.environmentName }}
    crossReferenceName: ${{ steps.get_CR_Details.outputs.crossReferenceName }}
    fileHoldersName: ${{steps.get_CR_Details.outputs.fileHoldersName}}
    readCSV: ${{steps.get_CR_Details.outputs.readCSV}}
    
   runs-on: ubuntu-latest
   steps:
     - name: Get Cross Reference Details
       uses: actions/checkout@v2
     - id: get_CR_Details
       run: |  
             read_CRConfig=$(cat ./UpdateComponentsExtensions/CrossReference.json)
             echo $read_CRConfig
             envName=$(echo ${read_CRConfig} | jq '.[] | .cr_details[].environmentName')
             echo $envName
             echo "::set-ouyput name=environmentName:$envName"
             
             cr_toDeploy=$(echo ${read_CRConfig} | jq '.[] | .cr_toDeploy')
             cr_toBeDeployed=$(echo "$cr_toDeploy" | tr -d '"')
             echo $cr_toBeDeployed
             
             cr_CompID=$(echo ${read_CRConfig} | jq '.[] | .cr_details[].crossReferenceId')
             echo $cr_CompID
             
             if [[ $cr_toDeploy == "All" ]]
             then 
               readCSV=$(cat ./UpdateComponentsExtensions/CR_CSVs/*)
               echo $readCSV
             else 
               readCSV=$(cat ./UpdateComponentsExtensions/CR_CSVs/"$cr_toBeDeployed".csv)
               echo $readCSV
             fi
             echo $readCSV
             echo "::set-output name=readCSV::$readCSV"
             
             
  executeProcess:
   needs: getCrossReferenceDetails
   runs-on: ubuntu-latest
   steps:
     - name: Execute Boomi Process to Update Cross Reference Extensions
       uses: actions/checkout@v2
     - id: updateExtensions
       run: |
             environmentNames=${{needs.getCrossReferenceDetails.outputs.environmentName}}
             echo $environmentNames
