name: Update Cross Reference Extensions

# Controls when the workflow will run
on:
  workflow_dispatch

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  getCrossReferenceDetails:
   outputs:
    crossReferenceId: ${{ steps.get_CR_Details.outputs.crossReferenceId }}
    environmentId: ${{ steps.get_CR_Details.outputs.environmentId }}
    crossReferenceName: ${{ steps.get_CR_Details.outputs.crossReferenceName }}
    
   runs-on: ubuntu-latest
   steps:
     - name: Get Cross Reference Details
       uses: actions/checkout@v2
     - id: get_CR_Details
       run: | 
             fileRead=$(cat ./UpdateComponentsExtensions/CrossReference.json)
             echo $fileRead
             crossReferenceId=$(echo ${fileRead} | jq '.[] | .crossReferenceId')
             echo $crossReferenceId
             
             environmentId=$(echo ${fileRead} | jq '.[] | .environmentId')
             echo $environmentId
             
             crossReferenceName=$(echo ${fileRead} | jq '.[] | .crossReferenceName')
             echo $crossReferenceName
             
              crossReferenceIdArray=$(echo $crossReferenceId)
              echo $crossReferenceIdArray
              echo "::set-output name=crossReferenceId::($crossReferenceIdArray)"
              
              environmentIdArray=$(echo $environmentId)
              echo $environmentIdArray
              echo "::set-output name=environmentId::($environmentIdArray)"
              
              crossReferenceNameArray=$(echo $crossReferenceName)
              echo $crossReferenceNameArray
              echo "::set-output name=crossReferenceName::($crossReferenceNameArray)"
              
                                   
                           
