name: Deployment Pipeline

# Controls when the workflow will run
on:
  workflow_dispatch

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  updateCrossReferenceExtensions:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Update Cross Reference Extensions
        uses: actions/checkout@v2
      - id: update_CR_Extensions
        run: |
               CODE=`curl  --request POST \
                                   --header 'authorization: Basic YXNobWl0YS5zYXdhbnRAbmVvc2FscGhhLmNvbTpBYmhhc2gqMDcwOA==' \
                                   --header 'content-type: application/xml' \
                                   --url 'https://api.boomi.com/api/rest/v1/trainingashmitasawant-D9P8J7/EnvironmentExtensions/bad76642-bf60-4de0-8a54-79931e3bcd8e/update' \
                                   --data '<bns:EnvironmentExtensions xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:bns="http://api.platform.boomi.com/" environmentId="bad76642-bf60-4de0-8a54-79931e3bcd8e" extensionGroupId="" id="bad76642-bf60-4de0-8a54-79931e3bcd8e">
                                            <bns:crossReferences>
                                                <bns:crossReference id="90708b33-6aee-4f21-932d-01288f62a111" overrideValues="true" name="Account Table">
                                                    <bns:CrossReferenceRows>
                                                        <bns:row ref1="0018000000Ptpg5AAB" ref2="Edge Hall"/>
                                                        <bns:row ref1="0018000000Ptpg9AAB" ref2="Grand Hotels &amp; Resorts Ltd"/>
                                                        <bns:row ref1="0018000000PtpgCAAR" ref2="United Oil &amp; Gas Corp."/>
                                                        <bns:row ref1="0018000000PtpgAAAR" ref2="Express Logistics and Transport"/>
                                                        <bns:row ref1="0018000000Ptpg4AAB" ref2="United Oil &amp; Gas, Singapore"/>
                                                        <bns:row ref1="0018000000Ptpg2AAB" ref2="GenePoint"/>
                                                    </bns:CrossReferenceRows>
                                                </bns:crossReference>
                                            </bns:crossReferences>
                                        </bns:EnvironmentExtensions>'`
                                   echo $CODE
                                   
