name: Update Cross Reference Extensions

# Controls when the workflow will run
on:
  workflow_dispatch

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  getCrossReferenceDetails:
   runs-on: ubuntu-latest
   steps:
     - name: Get Cross Reference Details
       uses: actions/checkout@v2
     - id: get_CR_Details
       run: | 
             fileRead=$(cat ./UpdateComponentsExtensions/CrossReference.json)
             echo $fileRead
 
                                   
