name: Update Cross Reference Extensions

# Controls when the workflow will run
on:
  workflow_dispatch
env: 
           BOOMI_ACCOUNTID: ${{secrets.BOOMI_ACCOUNTID}}
           ASHMITA_SAWANT_API_AUTH: ${{secrets.ASHMITA_SAWANT_API_AUTH}}

jobs:
  # This workflow contains a single job called "build"
  getCrossReferenceDetails:
   outputs:
    category: ${{steps.get_CR_Details.outputs.category}}
    environmentName: ${{ steps.get_CR_Details.outputs.environmentName }}
    readCSV: ${{steps.get_CR_Details.outputs.readCSV}}
    cr_toDeploy: ${{steps.get_CR_Details.outputs.cr_toDeploy}}
    fileHoldersName: ${{steps.get_CR_Details.outputs.fileHoldersName}}
    
   runs-on: ubuntu-latest
   steps:
     - name: Get Cross Reference Details
       uses: actions/checkout@v2
     - id: get_CR_Details
       run: |  
             read_CRConfig=$(cat ./UpdateComponentsExtensions/CrossReference.json)
             echo $read_CRConfig
             
             fileHoldersName=$(git log -n 1 --pretty='format:%an' -- UpdateComponentsExtensions/CrossReference.json)
             echo "File Committer's Name is:" $fileHoldersName
             echo "::set-output name=fileHoldersName::'$fileHoldersName'"
             
             envName=$(echo ${read_CRConfig} | jq '.[] | .cr_details[].environmentName')
             echo $envName
             echo "::set-output name=environmentName::$envName"
             
             category=$(echo ${read_CRConfig} | jq '.[] | .category')
             echo $category
             echo "::set-output name=category::$category"
             
             cr_toDeploy=$(echo ${read_CRConfig} | jq '.[] | .cr_toDeploy')
             cr_toBeDeployed=$(echo "$cr_toDeploy" | tr -d '"')
             echo $cr_toBeDeployed
             echo "::set-output name=cr_toDeploy::$cr_toDeploy"
             
             cr_CompID=$(echo ${read_CRConfig} | jq '.[] | .cr_details[].crossReferenceId')
             echo $cr_CompID
             
             if [[ $cr_toDeploy == "All" ]]
             then 
               readCSV=$(cat ./UpdateComponentsExtensions/CR_CSVs/*)
               echo $readCSV
             else 
               readCSV=$(cat ./UpdateComponentsExtensions/CR_CSVs/"$cr_toBeDeployed".csv)
               echo $readCSV
             fi
             echo $readCSV
             echo "::set-output name=readCSV::$readCSV"
             
             
  executeProcess:
   runs-on: ubuntu-latest
   needs: getCrossReferenceDetails
   steps:
     - name: Execute Boomi Process to Update Cross Reference Extensions
       uses: actions/checkout@v2
     - id: updateExtensions
       run: |
             environmentNames=${{needs.getCrossReferenceDetails.outputs.environmentName}}
             echo $environmentNames
             csv="${{needs.getCrossReferenceDetails.outputs.readCSV}}"
             echo $csv
             category=${{needs.getCrossReferenceDetails.outputs.category}}
             echo $category
             cr_toDeploy=${{needs.getCrossReferenceDetails.outputs.cr_toDeploy}}
             echo $cr_toDeploy
             
             fileHoldersName=${{needs.getCrossReferenceDetails.outputs.fileHoldersName}}
              
                if [[ $fileHoldersName == "ashmitasawant" ]]
                then
                     apiAuth=$ASHMITA_SAWANT_API_AUTH
                elif [[ $fileHoldersName == "Lalit Karpenter" ]]
                then
                     apiAuth=$LALIT_KARPENTER_API_AUTH
                elif [[ $fileHoldersName == "Kartik Dashora" ]]
                then
                     apiAuth=$KARTIK_DASHORA_API_AUTH
                elif [[ $fileHoldersName == "Lalit Kumawat" ]]
                then
                     apiAuth=$LALIT_KUMAWAT_API_AUTH
                elif [[ $fileHoldersName == "Sanskriti Sharma" ]]
                then
                    apiAuth=$SANSKRITI_SHARMA_API_AUTH
                else
                     apiAuth=null
                fi
                BoomiAccountId=$BOOMI_ACCOUNTID
                echo $BoomiAccountId
                
                
                if [ $category == "All" ]
                 then
                   name=null
                 else
                   name=$cr_toDeploy
                 fi
                 echo $name
               for ((i=0;i<${#environmentNames[@]};i++))
               do
               
                 RUN=`curl  --request POST \
                               --header "authorization: ${apiAuth}" \
                               --header 'content-type: application/xml' \
                               --url "https://c01-sg.integrate-test.boomi.com/ws/rest/CSV/?name=${name}&envName=${environmentNames[$i]}" \
                               --data "'${csv}'"`
                
               
                 echo $RUN                               
                 
               done
           
             
             
